html, body{
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

span.active {
  background-color: gray;
}

.search-button-container {
  text-align: center;
}

.flight-details-container {
  text-align: center;
}
